<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

</head>

<body>
    {% include "header.html" %} {%- for rows in data %}
    <div class="cWrap" style="line-height:30px;">
        姓名 : {{ rows.st_name }} 年龄 : {{rows.st_age}} <a href="/delete?id={{ rows.st_id }}">删除</a>
    </div>
    {%- endfor %}
</body>

</html>